{% extends 'base2.html' %}
{% load static %}
{% block body %}
<h1>Update File</h1>
{{ stock }}<br>

<form  action="" method = POST>
{% csrf_token %}
      <input type="text" name="nameofstocks" placeholder="Enter Name of stocks"><br>
      <input type="number" name="buy" placeholder="Enter buy-in price"><br>
      <input type="datetime-local" name="buydate" placeholder="Enter buying data"><br>
      <input type="number" name="sell" placeholder="Enter selling price"><br>
      <input type="datetime-local" name="selldate" placeholder="Enter selling data"><br>
      <input type="number" name="t1" placeholder="Enter target 1"><br>
      <input type="number" name="t2" placeholder="Enter target 2"><br>
      <center>
      <input type="submit"  class="btn btn-secondary" value="Update"><br>
      </center>
  </form>
{% endblock %}
